<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Load images from Unsplash -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/polban_icon_foreground"
        android:label="JesSnack_011"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetsnack">

        <!-- SplashActivity sebagai Entry Point -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <profileable
            android:shell="true"
            tools:targetApi="q" />

        <!-- MainActivity diperbaiki agar bisa diakses -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Jetsnack"/>
    </application>

</manifest>
